@model CatLib.Models.News
<section class="article">
    <h3 class="article_title">@Model.Title</h3>
    <div class="article-header">
        <img src="~/img/assets/@Model.Img" alt="img" class="article_img">
        <div class="article-info">
            <p class="article-info_date">@Model.Date</p>
            <div class="article-info_views">
                <img src="~/img/assets/Icon.svg">
                <p class="article-info_text">@Model.Views</p>
            </div>
        </div>
    </div>
    <p>@Model.Tag</p>
    <p class="article-content">
    @Model.Content

    </p>
</section>