@model List<CatLib.Models.NameGenerator.CategoryName>
@{
    ViewData["Title"] = "Cate names by category | CatLib";
}
<div class="calc-header">
    <h3 class="cat-detail-header-name-value">List of Cat Names by Category</h3>
    <p class="calc-text">
        You're looking for a unique name or something inspired by your favorite Disney movies, our guide to the best cat names we have prepared for you the largest list of cat names by popular categories.
    </p>
</div>
<div class="cat-name-categories">

    <div class="news-block">
        @foreach (var category in Model)
        {
            <h3 class="cat-name-categories-header">@category.Name cat names</h3>
            <div class="cat-name-category-container">
                @foreach (var subCategory in category.Personalities)
                {
                    <a class="news-block_card--main" action="NewsDetail" id="@subCategory.Id" href="@Url.Action("SpecificCatNames", "Tools", new { id = subCategory.Id})">
                        <div class="news-block_card--container">
                            <img class="news-block_card_img" src="/img/Presonality-img/@subCategory.Img">
                        </div>
                        <div class="news-block_card_data--main">
                            <h3 class="news-block_card_title--black">@subCategory.Name</h3>
                            <p class="news-block_card_text--black">@subCategory.Desctiption</p>
                        </div>
                    </a>
                }
            </div>

        }
    </div>
    <div class="calc-info">
        <h3 class="calc-info-title-name">There are several reasons why need use a cat name generator:</h3>
        <p class="calc-info-text">
            If you are looking for a cute cat girl or cat boy name.
            If you want to choose the best names for an orange, black and white, gray or multi-colored cat.
            If you want to choose a name for an active, SLEEPY or ANGRY cat
            If you want to choose a funny cat name or a cute cat name.
            If you want to choose the best cat name from comics, movies or music
            If you just want to see popular cat names.
            We have prepared for you the largest library of cat names. Which will allow you to choose the perfect name for your pet
        </p>
    </div>
</div>


